[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=java -jar /opt/Gnome_Background_Exchanger/gbexc.jar
Icon=java
Name=Gnome Background Exchanger
Comment=Criando um iniciavel do Gnome Background Exchanger
Name[en_US]=Gnome Background Exchanger
